@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        min-height: 100vh;
        font-family: 'Russo One', sans-serif;
        background-color: rgb(192, 190, 190);
}

header {        
    width: 50%;
    text-align: center;
    color: black;
    padding: 10px;
}

main {
display: flex;
flex-direction: column;
align-items: center;
margin: auto;
}

