@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        min-height: 100vh;
        font-family: 'Russo One', sans-serif;
        background-color: rgb(192, 190, 190);
}

header {        
    width: 50%;
    text-align: center;
    color: black;
    padding: 10px;
}

main {
display: flex;
flex-direction: column;
align-items: center;
margin: auto;
}

.choices {
    margin-bottom: 30px;
}

.choices button, #refresh {
    font-size: 30px;
    min-width: 160px;
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px;
    background-color: rgb(238, 238, 30);
    cursor: grab;
    transition: background-color 0,5s ease;
}

.choices button, #refresh:hover {
    background-color: rgb(238, 172, 30);
}

#refresh {
    margin-top: 30px;
}

#playerDisplay, #computerDisplay {
    font-size: 20px;
}

#resultDisplay {
    font-size: 30px;
    margin: 30px 0;
}

